---
name: Java CI with Maven
on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: temurin
          cache: maven
      - name: Build with Maven
        run: mvn package --file pom.xml
      - uses: actions/upload-artifact@4
        with:
          name: Boardgame
          path: target/*.jar
      - name: Trivy
        run: |
          trivy fs --format -o report.html .
      - name: Official SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          URL: ${{ secrets.URL }}
      - name: Sonar-Code-Quality-Check
        id: Sonar-Code-Quality-Check
        uses: SonarSource/sonarqube-scan-action@master
        timeout-minutes: 5
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          URL: ${{ secrets.URL }}
      - name: Set up QEMU
        uses: docker/setup-qemu-actions@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-actions@v3
      - name: Build docker image
        run: |
          docker build -t charansait372/Boardgame:latest .
      - name: Trivy
        run: |
          trivy fs --format -o report.html charansait372/Boardgame:latest .
      - name: Docker image scan
        uses: docker-login/actions@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          PASSWORD: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Push the image
        run: |
          docker push charansait372/Boardgame:latest
      - name: Running the cluster
        uses: tale/kubectl-action@v1
        with:
          base64-kube-config: $ {{ secrets.KUBE_CONFIG }}
      - run: |
          kubectl apply -f deployment.yml -n webapps
          kubectl get svc -n webapps
           
